/* h1 is 2em */

h1 {
    text-align: center;
    font-size: 2rem; /*Use the font size of the HTML straight away*/
}

/* p is 1em*/
p {
    font-size: 1em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

